
* {
	box-sizing: border-box;
	padding: 0;
	margin:0;
}

body {
	background-image: url("pictures/tlo.jpg");
	background-size: 100%;
	background-position: 0 -240px; 
}

@font-face {
	font-family: Nicomedia;
	src: url(pictures/nicomediaital.woff);
  }

/*nav*/

nav {
	padding: 30px;
	margin-bottom: -5vw;
}

.nav__logo {
	width: 14vw;
	margin-left: 4vw;
}

.nav__logo:hover {
	transform: translateX(20px);
	transition-duration: 1s;
	cursor: pointer;
}


/*header*/

.main__header:hover, .header__frontend:hover {
	-webkit-animation-name: in;
	animation-name: in;
	-webkit-animation-duration: 3s;
	animation-duration:  3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.header__graphic:hover {
	-webkit-animation-name: out;
	animation-name: out;
	-webkit-animation-duration: 3s;
	animation-duration:  3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.header__portfolio {
	position:absolute;
	margin-left: 9vw;
	margin-top: -3vw;
	font-size: 7vw;
	font-family: 'Nicomedia';
	font-weight: 300;
	color: #64b6ac;
	padding: 1% 3% 1% 3%;
	z-index:1;
	-webkit-animation-name: out;
	animation-name: out;
	-webkit-animation-duration: 3s;
	animation-duration:  3s;
}

.header__graphic {
	position:absolute;
	margin-left: 24vw;
	margin-top: -5vw;
	font-size: 6vw;
	font-family: 'Nicomedia';
	background-size: 100%;
	padding: 2% 5% 2% 5%;
	font-weight: 300;
	color: #db7a86;
	z-index:1;
	-webkit-animation-name: in;
	animation-name: in;
	-webkit-animation-duration: 3s;
	animation-duration:  3s;
}

.header__graphic__shadow {
	position:absolute;
	margin-left: 24.5vw;
	margin-top: -3vw;
	font-size: 7vw;
	font-family: 'Nicomedia';
	background-size: 100%;
	padding: 2% 5% 2% 5%;
	font-weight: 300;
	z-index:1;
	-webkit-animation-name: in;
	animation-name: in;
	-webkit-animation-duration: 3s;
	animation-duration:  3s;
    color: white;
    text-shadow:
   -1px -1px 0 #db7a86,  
1px -1px 0 #db7a86,
-1px 1px 0 #db7a86,
 1px 1px 0 #db7a86
}

@supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
    .header__graphic__shadow {
        color: transparent;
        -webkit-text-stroke: 2px  #db7a86;
text-stroke: 2px  #db7a86;
        text-shadow: none;
    }
}

.header__frontend {
	position:absolute;
	margin-left: 4vw;
	margin-top: -11vw;
	font-size: 6vw;
	font-family: 'Nicomedia';
	padding: 2%;
	color: #db7a86;
	z-index:1;
	-webkit-animation-name: out;
	animation-name: out;
	-webkit-animation-duration: 5s;
	animation-duration:  5s;
}

.header__frontend__shadow {
	position:absolute;
	margin-left: 3vw;
	margin-top: -9vw;
	font-size: 7vw;
	font-family: 'Nicomedia';
	background-size: 100%;
	padding: 2% 5% 2% 5%;
	font-weight: 300;
	z-index:1;
	-webkit-animation-name: in;
	animation-name: in;
	-webkit-animation-duration: 3s;
	animation-duration:  3s;
    color: white;
    text-shadow:
   -1px -1px 0 #db7a86,  
1px -1px 0 #db7a86,
-1px 1px 0 #db7a86,
 1px 1px 0 #db7a86
}

@supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
    .header__frontend__shadow {
        color: transparent;
        -webkit-text-stroke: 2px  #db7a86;
text-stroke: 2px  #db7a86;
        text-shadow: none;
    }
}

.text__line {
	margin-left: 0;
	margin-right: 0;
	font-size: 2.4vw;
	font-family: 'Nicomedia';
	color: #db7a86;
	z-index:1;
	white-space:nowrap;
	transform:translateX(100%);
	animation: moving 25s linear infinite;
}

.text__line__border {
	margin-top:4vw;
	border-top: #db7a86 solid 1px;
	border-bottom: #db7a86 solid 1px;
	padding: 0.3%;
	overflow: hidden;	
}

@keyframes moving {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%)
	}
}

.first__position {
	height: 4px;
	margin-top: 11%;
	position: relative;
}

.second__position {
	height: 4px;
	margin-top: 8%;
	position: relative;
}

.third__position {
	height:12vw;
	margin-top: 2%;
	position: relative;
}

.fourth__position {
	height: 4px;
	margin-top: 8%;
	position: relative;
}


/*menu*/

.first-line {
	background-image: url("pictures/line1.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height:70px;
	margin-top:15vw;
}

.second-line {
	background-image: url("pictures/line1.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height:70px;
	margin-top:4vw;
}

.third-line {
	background-image: url("pictures/line1.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height:70px;
	margin-top:4vw;
}

.fourth-line {
	background-image: url("pictures/line1.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height:70px;
	margin-top:4vw;
}

.menu__item {
	z-index: 1;
	position: absolute;
	-webkit-animation-name: out;
	animation-name: out;
	-webkit-animation-duration: 3s;
	animation-duration:  3s;
}

.first__menu__item {
	position: absolute;
	margin-left: 29vw;
	margin-top: -11vw;
	width: 28%;
}

.second__menu__item {
	position: absolute;
	margin-left: 63vw;
	margin-top: -15vw;
	width: 19%;
}

.third__menu__item {
	position: absolute;
	margin-left: 10vw;
	margin-top: -12%;
	width: 20%;
}

.fourth__menu__item {
	position: absolute;
	margin-left: 50vw;
	margin-top: -11%;
	width: 13%;

}

.first__menu__item:hover, .second__menu__item:hover, .third__menu__item:hover, .fourth__menu__item:hover {
	-webkit-animation-name: in;
	animation-name: in;
	-webkit-animation-duration: 3s;
	animation-duration:  3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

@-webkit-keyframes in {
	16.65% {
	  -webkit-transform: translateX(22px);
	  transform: translateX(22px);
	}
	33.3% {
	  -webkit-transform: translateX(-18px);
	  transform: translateX(-18px);
	}
	49.95% {
	  -webkit-transform: translateX(4px);
	  transform: translateX(4px);
	}
	66.6% {
	  -webkit-transform: translateX(-2px);
	  transform: translateX(-2px);
	}
	83.25% {
	  -webkit-transform: translateX(1px);
	  transform: translateX(1px);
	}
	100% {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}
  }


@-webkit-keyframes out {
	16.65% {
		-webkit-transform: translateX(-22px);
		transform: translateX(-22px);
	}
	33.3% {
		-webkit-transform: translateX(18px);
	  transform: translateX(18px);
	}
	49.95% {
		-webkit-transform: translateX(-4px);
		transform: translateX(-4px);
	}
	66.6% {
		-webkit-transform: translateX(2px);
	  transform: translateX(2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
	  transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}

footer {
	color: #6c9094;
	font-family: 'Goldman';
	font-size: 110%;
	font-weight: 100;
	text-align: center;
	margin: 12vw auto 4vw auto;
}

.footer__image {
	width:2.5%;
	margin: 0.7%;
}

.background__image__mobile {
	display: none;
}


@media (max-width: 900px) {

	.line {
		margin-top: 130px;
	}
}


@media (max-width: 700px) {
	

	nav {
		text-align: center;
		margin-bottom: 27vw;
	}

	.nav__logo {
		width: 13vw;
		margin: auto;
	}

	.main__header__container {
		margin-top: -14vw;
	}

	.main__header {
		margin-left: 18vw;
		background-size: 100%;
		padding:2% 5% 2% 5%;
		background-repeat: no-repeat;
		font-size: 12vw;
	}
	
	.header__frontend {
		font-size: 3vw;
		margin-left: 19vw;
		margin-top: 41vw;
		line-height: 160%;
		padding: 6%;
	}

	.header__graphic {
		font-size: 9vw;
		margin-left: 10vw;
		margin-top: 28vw;
		padding: 4% 5% 8% 5%;
	}

	.background__image {
		display: none;
	}

	.background__image__mobile {
		display: block;
		background: no-repeat;
		width: 100%;
		margin-top: 20vw;
	}

	.header__name {
		margin-top: 60vw;
		margin-left: 19%;
		font-size: 7vw;
	}

	.first__line {
		margin-top: 40vw;
		background-image: url(pictures/line_blue.png);
		background-size: cover;
		height: 4px;
		position: relative;
	}

	.line__red, .line__blue {
		margin-top:24vw;
		height: 2px;
	}

	.line__arrow {
		background-image: url(pictures/line_arrow_mobile.png);
		background-size: cover;
		height:12vw;
		margin-top: 24vw;
		position: relative;
	}

	.second__menu__item {
		margin-left: 47vw;
		width: 120px;
		margin-top: -10%;
	}

	.first__menu__item, .third__menu__item, .fourth__menu__item {
		width: 120px;
		margin-top: -10%;
	}

	.fourth__menu__item {
		margin-left: 23vw;
	}

	.footer__image {
		width: 8%;
		margin: 5%;
	}

	footer {
		margin-top: 40vw;
	}
}