
* {
	box-sizing: border-box;
	padding: 0;
	margin:0;
}

body {
	background-color: rgb(236, 234, 221);;
}

/*nav*/

nav {
	padding: 30px;
}

.nav__logo__container {
	cursor: pointer;
}

.nav__logo {
	width: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
	height: 100%;
	margin-left: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
	margin-top: 10px;
}


/*header*/

.header__frontend {
	position:absolute;
	margin-left: 54%;
	margin-top:11%;
	font-size: 2vw;
	font-family: 'Press Start 2P';
	color: #ede8de;
	text-shadow: -1px 0 #e14c29, 0 1px #e14c29, 1px 0 #e14c29, 0 -1px #e14c29;
	z-index:1;
}

.header__graphic {
	position:absolute;
	margin-left: 60%;
	margin-top:4%;
	font-size: 4vw;
	font-family: 'EB Garamond';
	font-weight: 300;
	color: #e14c29;
	z-index:1;
}

.header__name {
	position:absolute;
	margin-top: 25vw;
	margin-left: 10%;
	font-size: 3vw;
	font-family: 'EB Garamond';
	font-style: italic;
	font-weight: 300;
	color: #e14c29;
	z-index:1;
}

.header__who {
	color: #6c9094;
	font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
	text-decoration: none;
}

.header__who:hover {
	text-decoration: underline;
}

.name__line {
	position: absolute;
	margin-top: 25vw;
	margin-left: 7%;
	width: 0.5vw;
}


/*image*/

.background__image {
	background: no-repeat;
	width: 95%;
}


/*menu*/

.first__line {
	margin-top: 10vw;
}

.line__red {
	background-image: url(pictures/line_first.png);
	background-size: cover;
	height: 4px;
	margin-top: 10%;
	position: relative;
}

.line__blue {
	background-image: url(pictures/line_blue.png);
	background-size: cover;
	height: 4px;
	margin-top: 10%;
	position: relative;;
}

.menu__item {
	z-index: 1;
	position: absolute;
}

.first__menu__item {
	position: absolute;
	margin-left: calc(80px + (800 - 80) * ((100vw - 300px) / (1600 - 300)));
	margin-top: -4%;
	width: 14%;
}

.second__menu__item {
	position: absolute;
	margin-left: calc(140px + (1200 - 140) * ((100vw - 300px) / (1600 - 300)));
	margin-top: -4%;
	width: 14%;
}

.third__menu__item {
	position: absolute;
	margin-left: calc(30px + (300 - 30) * ((100vw - 300px) / (1600 - 300)));
	margin-top: -4%;
	width: 14%;
	
}

.fourth__menu__item {
	position: absolute;
	margin-left: calc(70px + (900 - 70) * ((100vw - 300px) / (1600 - 300)));
	margin-top: -4%;
	width: 14%;
}

.first__menu__item:hover, .second__menu__item:hover, .third__menu__item:hover, .fourth__menu__item:hover {
	-webkit-animation-name: hvr-wobble-horizontal;
	animation-name: hvr-wobble-horizontal;
	-webkit-animation-duration: 3s;
	animation-duration:  3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;

}

@-webkit-keyframes hvr-wobble-horizontal {
	16.65% {
	  -webkit-transform: translateX(22px);
	  transform: translateX(22px);
	}
	33.3% {
	  -webkit-transform: translateX(-18px);
	  transform: translateX(-18px);
	}
	49.95% {
	  -webkit-transform: translateX(4px);
	  transform: translateX(4px);
	}
	66.6% {
	  -webkit-transform: translateX(-2px);
	  transform: translateX(-2px);
	}
	83.25% {
	  -webkit-transform: translateX(1px);
	  transform: translateX(1px);
	}
	100% {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}
  }

footer {
	color: #6c9094;
	font-family: 'EB Garamond';
	font-size: 80%;
	font-weight: 200;
	text-align: center;
	margin: 16vw auto 4vw auto;
}

.footer__image {
	width:2.5%;
	margin: 0.7%;
}


@media (max-width: 900px) {

	.line {
		margin-top: 130px;
	}
}


@media (max-width: 700px) {
	
	.first__line {
		margin: 0;
	}

	.nav__logo {
		width: 8vw;
	}

	.header__frontend {
		font-size: 4vw;
		margin-left: 15vw;
		margin-top: 12vw;
	}

	.header__graphic {
		font-size: 7vw;
		margin-left: 15vw;
		margin-top: 0;
	}

	.background__image {
		margin-top: 28vw;
		background-size: 60%;
	}

	.name__line {
		margin-top: 66vw;
		margin-left: 9%;
		width: 0.6vw;
	}

	.header__name {
		margin-top: 66vw;
		margin-left: 14%;
		font-size: 5vw;
	}

	.line__red, .line__blue {
		margin-top: 26vw;
	}

	.second__menu__item {
		margin-left: 47vw;
		width: 120px;
		margin-top: -10%;
	}

	.first__menu__item, .third__menu__item, .fourth__menu__item {
		width: 120px;
		margin-top: -10%;
	}

	.fourth__menu__item {
		margin-left: 50vw;
	}

	footer {
		margin-top: 40vw;
	}
}