* {
	box-sizing: border-box;
	padding: 0;
	margin:0;
}

body {
	background-color: #eee0e0;
}

@font-face {
	font-family: Nicomedia;
	src: url(pictures/nicomediaital.woff);
  }

/*nav*/

nav {
	padding: 30px;
	margin-bottom: -5vw;
	padding-top: 5vw;
	padding-bottom: 1vw;
	background-image: url("pictures/tlo.jpg");
	background-size: 100%;
	background-position: 0 -240px; 
	display: flex;
	justify-content: space-between;
}

.nav__logo {
	width: 14vw;
	margin-left: 4vw;
}

.nav__logo:hover {
	transform: translateX(20px);
	transition-duration: 1s;
	cursor: pointer;
}

.header {
		font-size: 6vw;
		font-family: 'Nicomedia';
		background-size: 100%;
		padding: 2% 5% 2% 5%;
		font-weight: 300;
		z-index:1;
		-webkit-animation-name: in;
		animation-name: in;
		-webkit-animation-duration: 3s;
		animation-duration:  3s;
		background-image: url("pictures/rozowy.jpg");
		background-size: cover;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}